In [1]:
import pandas as pd

In [2]:
df=pd.DataFrame()
df=pd.read_csv("world_cup_matches.csv")
print(df)

      ID  Year        Date           Stage      Home Team  Home Goals  \
0      1  1930  1930-07-13     Group stage         France           4
1      2  1930  1930-07-13     Group stage  United States           3
2      3  1930  1930-07-14     Group stage     Yugoslavia           2
3      4  1930  1930-07-14     Group stage        Romania           3
4      5  1930  1930-07-15     Group stage      Argentina           1
..   ...   ...         ...             ...            ...         ...
895  896  2018  2018-07-07  Quarter-finals         Russia           2
896  897  2018  2018-07-10     Semi-finals         France           1
897  898  2018  2018-07-11     Semi-finals        Croatia           2
898  899  2018  2018-07-14     Third place        Belgium           2
899  900  2018  2018-07-15           Final         France           4

     Away Goals Away Team                    Win Conditions  Host Team
0             1    Mexico                               NaN      False
1             0   Belgium                               NaN      False
2             1    Brazil                               NaN      False
3             1      Peru                               NaN      False
4             0    France                               NaN      False
..          ...       ...                               ...        ...
895           2   Croatia  Croatia win on penalties (3 - 4)       True
896           0   Belgium                               NaN      False
897           1   England                        Extra time      False
898           0   England                               NaN      False
899           2   Croatia                               NaN      False

[900 rows x 10 columns]

In [3]:
df.head()

,ID,Year,Date,Stage,Home Team,Home Goals,Away Goals,Away Team,Win Conditions,Host Team
0,1,1930,1930-07-13,Group stage,France,4,1,Mexico,NaN,False
1,2,1930,1930-07-13,Group stage,United States,3,0,Belgium,NaN,False
2,3,1930,1930-07-14,Group stage,Yugoslavia,2,1,Brazil,NaN,False
3,4,1930,1930-07-14,Group stage,Romania,3,1,Peru,NaN,False
4,5,1930,1930-07-15,Group stage,Argentina,1,0,France,NaN,False

In [4]:
df.tail()

,ID,Year,Date,Stage,Home Team,Home Goals,Away Goals,Away Team,Win Conditions,Host Team
895,896,2018,2018-07-07,Quarter-finals,Russia,2,2,Croatia,Croatia win on penalties (3 - 4),True
896,897,2018,2018-07-10,Semi-finals,France,1,0,Belgium,NaN,False
897,898,2018,2018-07-11,Semi-finals,Croatia,2,1,England,Extra time,False
898,899,2018,2018-07-14,Third place,Belgium,2,0,England,NaN,False
899,900,2018,2018-07-15,Final,France,4,2,Croatia,NaN,False

In [5]:
df.describe()

               ID         Year  Home Goals  Away Goals
count  900.000000   900.000000  900.000000  900.000000
mean   450.500000  1986.915556    1.792222    1.038889
std    259.951919    23.150270    1.593279    1.081567
min      1.000000  1930.000000    0.000000    0.000000
25%    225.750000  1970.000000    1.000000    0.000000
50%    450.500000  1990.000000    2.000000    1.000000
75%    675.250000  2006.000000    3.000000    2.000000
max    900.000000  2018.000000   10.000000    7.000000

In [7]:
df.isnull().sum()

ID                  0
Year                0
Date                0
Stage               0
Home Team           0
Home Goals          0
Away Goals          0
Away Team           0
Win Conditions    838
Host Team           0
dtype: int64

In [37]:
r=df.dtypes
print(r)

ID                 int64
Year               int64
Date              object
Stage             object
Home Team         object
Home Goals         int64
Away Goals         int64
Away Team         object
Win Conditions    object
Host Team           bool
dtype: object

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 900 entries, 0 to 899
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ID              900 non-null    int64
 1   Year            900 non-null    int64
 2   Date            900 non-null    object
 3   Stage           900 non-null    object
 4   Home Team       900 non-null    object
 5   Home Goals      900 non-null    int64
 6   Away Goals      900 non-null    int64
 7   Away Team       900 non-null    object
 8   Win Conditions  62 non-null     object
 9   Host Team       900 non-null    bool
dtypes: bool(1), int64(4), object(5)
memory usage: 64.3+ KB

In [10]:
df.sample()

,ID,Year,Date,Stage,Home Team,Home Goals,Away Goals,Away Team,Win Conditions,Host Team
335,336,1982,1982-06-23,First group stage,Italy,1,1,Cameroon,NaN,False

In [40]:
df.isna()

,ID,Year,Date,Stage,Home Team,Home Goals,Away Goals,Away Team,Win Conditions,Host Team
0,False,False,False,False,False,False,False,False,True,False
1,False,False,False,False,False,False,False,False,True,False
2,False,False,False,False,False,False,False,False,True,False
3,False,False,False,False,False,False,False,False,True,False
4,False,False,False,False,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...
895,False,False,False,False,False,False,False,False,False,False
896,False,False,False,False,False,False,False,False,True,False
897,False,False,False,False,False,False,False,False,False,False
898,False,False,False,False,False,False,False,False,True,False
899,False,False,False,False,False,False,False,False,True,False

In [41]:
df['Year'].unique()

array([1930, 1934, 1938, 1950, 1954, 1958, 1962, 1966, 1970, 1974, 1978,
       1982, 1986, 1990, 1994, 1998, 2002, 2006, 2010, 2014, 2018],
      dtype=int64)

In [42]:
df.nunique()

ID                900
Year               21
Date              355
Stage              10
Home Team          77
Home Goals         11
Away Goals          7
Away Team          81
Win Conditions     30
Host Team           2
dtype: int64

In [12]:
df.query("ID > 800")

,ID,Year,Date,Stage,Home Team,Home Goals,Away Goals,Away Team,Win Conditions,Host Team
800,801,2014,2014-06-21,Group stage,Nigeria,1,0,Bosnia and Herzegovina,NaN,False
801,802,2014,2014-06-22,Group stage,Belgium,1,0,Russia,NaN,False
802,803,2014,2014-06-22,Group stage,South Korea,2,4,Algeria,NaN,False
803,804,2014,2014-06-22,Group stage,United States,2,2,Portugal,NaN,False
804,805,2014,2014-06-23,Group stage,Australia,0,3,Spain,NaN,False
...,...,...,...,...,...,...,...,...,...,...
895,896,2018,2018-07-07,Quarter-finals,Russia,2,2,Croatia,Croatia win on penalties (3 - 4),True
896,897,2018,2018-07-10,Semi-finals,France,1,0,Belgium,NaN,False
897,898,2018,2018-07-11,Semi-finals,Croatia,2,1,England,Extra time,False
898,899,2018,2018-07-14,Third place,Belgium,2,0,England,NaN,False
899,900,2018,2018-07-15,Final,France,4,2,Croatia,NaN,False

In [44]:
df.loc[4,'Home Goals']

1

In [45]:
df.iloc[[3,4],[2,4]]

         Date  Home Team
3  1930-07-14    Romania
4  1930-07-15  Argentina

In [46]:
df.sort_values('Home Goals')

,ID,Year,Date,Stage,Home Team,Home Goals,Away Goals,Away Team,Win Conditions,Host Team
791,792,2014,2014-06-18,Group stage,Cameroon,0,4,Croatia,NaN,False
639,640,2002,2002-06-22,Quarter-finals,Senegal,0,1,Turkey,Golden goal,False
638,639,2002,2002-06-22,Quarter-finals,South Korea,0,0,Spain,South Korea win on penalties (3 - 5),True
241,242,1974,1974-06-18,First group stage,Scotland,0,0,Brazil,NaN,False
244,245,1974,1974-06-19,First group stage,Netherlands,0,0,Sweden,NaN,False
...,...,...,...,...,...,...,...,...,...,...
46,47,1938,1938-06-12,Quarter-finals,Sweden,8,0,Cuba,NaN,False
66,67,1950,1950-07-02,First round,Uruguay,8,0,Bolivia,NaN,False
243,244,1974,1974-06-18,First group stage,Yugoslavia,9,0,DR Congo,NaN,False
81,82,1954,1954-06-17,Group stage,Hungary,9,0,South Korea,NaN,False
312,313,1982,1982-06-15,First group stage,Hungary,10,1,El Salvador,NaN,False

In [47]:
df.value_counts('Year')

Year
2018    64
2014    64
2010    64
2006    64
2002    64
1998    64
1982    52
1994    52
1990    52
1986    52
1978    38
1974    38
1958    35
1970    32
1966    32
1962    32
1954    26
1950    22
1938    18
1930    18
1934    17
Name: count, dtype: int64

In [48]:
df.isnull().sum()

ID                  0
Year                0
Date                0
Stage               0
Home Team           0
Home Goals          0
Away Goals          0
Away Team           0
Win Conditions    838
Host Team           0
dtype: int64

In [13]:
df.nlargest(10,'Home Goals')

,ID,Year,Date,Stage,Home Team,Home Goals,Away Goals,Away Team,Win Conditions,Host Team
94,95,1954,1954-06-26,Quarter-finals,Switzerland,5,7,Austria,NaN,True
246,247,1974,1974-06-19,First group stage,Haiti,0,7,Poland,NaN,False
832,833,2014,2014-07-08,Semi-finals,Brazil,1,7,Germany,NaN,True
40,41,1938,1938-06-05,Round of 16,Brazil,6,5,Poland,Extra time,False
135,136,1958,1958-06-29,Final,Sweden,2,5,Brazil,NaN,True
403,404,1986,1986-06-18,Round of 16,Denmark,1,5,Spain,NaN,False
416,417,1990,1990-06-10,Group stage,United States,1,5,Czechoslovakia,NaN,False
620,621,2002,2002-06-13,Group stage,Costa Rica,2,5,Brazil,NaN,False
774,775,2014,2014-06-13,Group stage,Spain,1,5,Netherlands,NaN,False
796,797,2014,2014-06-20,Group stage,Switzerland,2,5,France,NaN,False

In [50]:
df.nsmallest(10,'Home Goals')

,ID,Year,Date,Stage,Home Team,Home Goals,Away Goals,Away Team,Win Conditions,Host Team
90,91,1954,1954-06-20,Group stage,Switzerland,0,2,England,NaN,True
109,110,1958,1958-06-11,Group stage,Brazil,0,0,England,NaN,False
117,118,1958,1958-06-15,Group stage,Sweden,0,0,Wales,NaN,True
143,144,1962,1962-05-31,Group stage,Germany,0,0,Italy,NaN,False
145,146,1962,1962-06-02,Group stage,Brazil,0,0,Czechoslovakia,NaN,False
154,155,1962,1962-06-06,Group stage,Hungary,0,0,Argentina,NaN,False
155,156,1962,1962-06-06,Group stage,Chile,0,2,Germany,NaN,True
158,159,1962,1962-06-07,Group stage,England,0,0,Bulgaria,NaN,False
168,169,1966,1966-07-11,Group stage,England,0,0,Uruguay,NaN,True
181,182,1966,1966-07-16,Group stage,Germany,0,0,Argentina,NaN,False

In [14]:
df['Win Conditions'].fillna('Completed',inplace=True)
print(df)

      ID  Year        Date           Stage      Home Team  Home Goals  \
0      1  1930  1930-07-13     Group stage         France           4
1      2  1930  1930-07-13     Group stage  United States           3
2      3  1930  1930-07-14     Group stage     Yugoslavia           2
3      4  1930  1930-07-14     Group stage        Romania           3
4      5  1930  1930-07-15     Group stage      Argentina           1
..   ...   ...         ...             ...            ...         ...
895  896  2018  2018-07-07  Quarter-finals         Russia           2
896  897  2018  2018-07-10     Semi-finals         France           1
897  898  2018  2018-07-11     Semi-finals        Croatia           2
898  899  2018  2018-07-14     Third place        Belgium           2
899  900  2018  2018-07-15           Final         France           4

     Away Goals Away Team                    Win Conditions  Host Team
0             1    Mexico                         Completed      False
1             0   Belgium                         Completed      False
2             1    Brazil                         Completed      False
3             1      Peru                         Completed      False
4             0    France                         Completed      False
..          ...       ...                               ...        ...
895           2   Croatia  Croatia win on penalties (3 - 4)       True
896           0   Belgium                         Completed      False
897           1   England                        Extra time      False
898           0   England                         Completed      False
899           2   Croatia                         Completed      False

[900 rows x 10 columns]

In [52]:
df.isnull().sum()

ID                0
Year              0
Date              0
Stage             0
Home Team         0
Home Goals        0
Away Goals        0
Away Team         0
Win Conditions    0
Host Team         0
dtype: int64

In [62]:
one_hot_encoded_data = pd.get_dummies(df, columns = ['Win Conditions']) 
print(one_hot_encoded_data)

      ID  Year        Date           Stage      Home Team  Home Goals  \
0      1  1930  1930-07-13     Group stage         France           4
1      2  1930  1930-07-13     Group stage  United States           3
2      3  1930  1930-07-14     Group stage     Yugoslavia           2
3      4  1930  1930-07-14     Group stage        Romania           3
4      5  1930  1930-07-15     Group stage      Argentina           1
..   ...   ...         ...             ...            ...         ...
895  896  2018  2018-07-07  Quarter-finals         Russia           2
896  897  2018  2018-07-10     Semi-finals         France           1
897  898  2018  2018-07-11     Semi-finals        Croatia           2
898  899  2018  2018-07-14     Third place        Belgium           2
899  900  2018  2018-07-15           Final         France           4

     Away Goals Away Team  Host Team  \
0             1    Mexico      False
1             0   Belgium      False
2             1    Brazil      False
3             1      Peru      False
4             0    France      False
..          ...       ...        ...
895           2   Croatia       True
896           0   Belgium      False
897           1   England      False
898           0   England      False
899           2   Croatia      False

     Win Conditions_Argentina win on penalties (2 - 3)  ...  \
0                                                False  ...
1                                                False  ...
2                                                False  ...
3                                                False  ...
4                                                False  ...
..                                                 ...  ...
895                                              False  ...
896                                              False  ...
897                                              False  ...
898                                              False  ...
899                                              False  ...

     Win Conditions_Netherlands win on penalties (4 - 3)  \
0                                                False
1                                                False
2                                                False
3                                                False
4                                                False
..                                                 ...
895                                              False
896                                              False
897                                              False
898                                              False
899                                              False

     Win Conditions_Paraguay win on penalties (5 - 3)  \
0                                               False
1                                               False
2                                               False
3                                               False
4                                               False
..                                                ...
895                                             False
896                                             False
897                                             False
898                                             False
899                                             False

     Win Conditions_Portugal win on penalties (1 - 3)  \
0                                               False
1                                               False
2                                               False
3                                               False
4                                               False
..                                                ...
895                                             False
896                                             False
897                                             False
898                                             False
899                                             False

     Win Conditions_Republic of Ireland win on penalties (5 - 4)  \
0                                                False
1                                                False
2                                                False
3                                                False
4                                                False
..                                                 ...
895                                              False
896                                              False
897                                              False
898                                              False
899                                              False

     Win Conditions_Russia win on penalties (4 - 3)  \
0                                             False
1                                             False
2                                             False
3                                             False
4                                             False
..                                              ...
895                                           False
896                                           False
897                                           False
898                                           False
899                                           False

     Win Conditions_South Korea win on penalties (3 - 5)  \
0                                                False
1                                                False
2                                                False
3                                                False
4                                                False
..                                                 ...
895                                              False
896                                              False
897                                              False
898                                              False
899                                              False

     Win Conditions_Spain win on penalties (3 - 2)  \
0                                            False
1                                            False
2                                            False
3                                            False
4                                            False
..                                             ...
895                                          False
896                                          False
897                                          False
898                                          False
899                                          False

     Win Conditions_Sweden win on penalties (4 - 5)  \
0                                             False
1                                             False
2                                             False
3                                             False
4                                             False
..                                              ...
895                                           False
896                                           False
897                                           False
898                                           False
899                                           False

     Win Conditions_Ukraine win on penalties (0 - 3)  \
0                                              False
1                                              False
2                                              False
3                                              False
4                                              False
..                                               ...
895                                            False
896                                            False
897                                            False
898                                            False
899                                            False

     Win Conditions_Uruguay win on penalties (4 - 2)
0                                              False
1                                              False
2                                              False
3                                              False
4                                              False
..                                               ...
895                                            False
896                                            False
897                                            False
898                                            False
899                                            False

[900 rows x 39 columns]

In [64]:
from sklearn.preprocessing import OneHotEncoder
enc = OneHotEncoder() 
  
# Passing encoded columns 
  
enc_data = pd.DataFrame(enc.fit_transform( 
    df[['Win Conditions']]).toarray()) 
  
# Merge with main 
New_df = df.join(enc_data) 
  
print(New_df)

      ID  Year        Date           Stage      Home Team  Home Goals  \
0      1  1930  1930-07-13     Group stage         France           4
1      2  1930  1930-07-13     Group stage  United States           3
2      3  1930  1930-07-14     Group stage     Yugoslavia           2
3      4  1930  1930-07-14     Group stage        Romania           3
4      5  1930  1930-07-15     Group stage      Argentina           1
..   ...   ...         ...             ...            ...         ...
895  896  2018  2018-07-07  Quarter-finals         Russia           2
896  897  2018  2018-07-10     Semi-finals         France           1
897  898  2018  2018-07-11     Semi-finals        Croatia           2
898  899  2018  2018-07-14     Third place        Belgium           2
899  900  2018  2018-07-15           Final         France           4

     Away Goals Away Team                    Win Conditions  Host Team  ...  \
0             1    Mexico                               NaN      False  ...
1             0   Belgium                               NaN      False  ...
2             1    Brazil                               NaN      False  ...
3             1      Peru                               NaN      False  ...
4             0    France                               NaN      False  ...
..          ...       ...                               ...        ...  ...
895           2   Croatia  Croatia win on penalties (3 - 4)       True  ...
896           0   Belgium                               NaN      False  ...
897           1   England                        Extra time      False  ...
898           0   England                               NaN      False  ...
899           2   Croatia                               NaN      False  ...

      21   22   23   24   25   26   27   28   29   30
0    0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0
1    0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0
2    0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0
3    0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0
4    0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0
..   ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
895  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
896  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0
897  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
898  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0
899  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0

[900 rows x 41 columns]

In [65]:
from sklearn import preprocessing 
  
# label_encoder object knows  
# how to understand word labels. 
label_encoder = preprocessing.LabelEncoder() 
  
# Encode labels in column 'species'. 
df['Win Conditions']= label_encoder.fit_transform(df['Win Conditions']) 
  
df['Win Conditions'].unique()

array([30, 12, 17, 13, 14,  4, 23,  0,  2, 16,  7, 27,  5,  3,  6, 18, 26,
       25, 28, 15, 22, 19, 21, 29,  8, 20,  1, 24,  9, 11, 10])